[Unit]
Description=Web music player portal

[Service]
WorkingDirectory=/usr/local/musrs
Environment=MUS_DIR=/var/fs/storage/media/music
Environment=WEB_PORT=3200
Environment=WEB_ADDR=127.0.0.1
Environment=DATABASE_URL=library.db
ReadWritePaths=/usr/local/musrs
ExecStart=/usr/local/musrs/musrs
ProtectSystem=no
NoNewPrivileges
ProtectHome=true
PrivateUsers=true
PrivateTmp=true
User=musrs

[Install]
WantedBy=multi-user.target
